@charset "utf-8";

/*
paleta de cores

vinho #722F37
escuro #804040
cinza #606060
mais escuro #403030
*/

*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #722F37;
    height: 100vh;
    width: 100vw;

}

main{
    position: relative;
    width: 100vw;
    height: 100vh;

}
section#Login{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;;

    background-color: #804040;
    width: 250px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.534);

}
section#Login > div#imagem{
    display: block;
    background: url(..//imagens/pexels-wangming-photo-115695-354941.jpg) no-repeat;;
    background-size: cover;
    height: 200px;
    background-position: left;

    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transition-timing-function: ease-in-out;



}

section#Login > div#formulario{

    display: block;
    padding: 10px;
    margin: 5px;
}
    
  